version: '2.1'

services:
  
  templates:
    depends_on:
      elasticsearch:
        condition: service_started
    build: ./create_index
    image: self-index
    links:
      - "elasticsearch:elasticsearch"
    command: /app/run.py logstash-index --host elasticsearch
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
        
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2
    environment:
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
      - "http.host=0.0.0.0"
      - "network.host=0.0.0.0"
      - "transport.host=localhost"
      - "xpack.security.enabled=false"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
        
  logstash:
    depends_on:
      elasticsearch:
        condition: service_started
      templates:
        condition: service_started
    build: ./logstash
    image: self-logstash
    links:
      - "elasticsearch:elasticsearch"
      - "templates:templates"
    ports:
      - "4444:4444/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
    #entrypoint: bash -c "while ping -c1 templates &>/dev/null; do sleep 1; done; sleep 10 && /docker-entrypoint.sh"
    command: bash -c "while ping -c1 templates &>/dev/null; do sleep 1; done; sleep 10 && /docker-entrypoint.sh -f /conf/logstash.conf"
  
  mysql:
    image: mysql:5.7
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
    environment:
      - "MYSQL_DATABASE=monitor"
      - "MYSQL_USER=monitor"
      - "MYSQL_PASSSWORD=monitor"
      - "MYSQL_RANDOM_ROOT_PASSWORD=yes"
    volumes:
      - "/data/db:/var/lib/mysql"
      - "./mysql/conf.d:/etc/mysql/conf.d:ro"